@import url('https://fonts.googleapis.com/css2?family=Montserrat:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
  --green: #66FF31;
  --red: #FF0000;
}
body{
  background-color: #E3FCFC;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

